.header{
    display: flex;
    justify-content: space-between;
}

.navigation a{
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border-bottom: 1px solid orangered;
    margin-left: 10px;
}